<!-- файл schedule.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Распределение времени</title>
    <!-- Подключите ваш CSS файл здесь, если он у вас есть -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Распределение времени на учёбу</h1>
    <form id="scheduleForm" action="../Game/process_schedule.php" method="post">

        <div id="subjectsContainer">
            <!-- Здесь будут динамически добавлены поля ввода для предметов -->
        </div>
        <button type="submit">Отправить</button>
    </form>

    <!-- Подключение JavaScript файла -->
    <script src="../static/js/schedule.js"></script>


</body>
</html>
