#answers-form {
    display: flex;
    flex-direction: column;
}


#game-container {
  margin-top: 50px;
}
.options-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.option-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(174, 117, 182, 0.488);
    min-width: 150px; /* Минимальная ширина для малого текста */
    max-width: 400px; /* Максимальная ширина, чтобы не растягиваться слишком широко */
    width: auto; /* Ширина по умолчанию, адаптируется к содержимому */
    flex-grow: 1; /* Позволяет контейнеру расти в зависимости от содержимого */
    color: #FFFFFF;
}

.dark-theme .option-wrapper {
  background-color: rgba(63, 144, 52, 0.503);
}


#question {
    margin: 20px auto;
    padding: 15px; 
    width: 80%; 
    box-sizing: border-box;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: rgba(174, 117, 182, 0.488);
    color: #FFFFFF;
}


.dark-theme #question {
  background-color: rgb(63, 144, 52, 0.503)
}

h1, h2 {
    text-align: center; /* Центрирует текст внутри заголовка */
    margin: 0 auto; /* Центрирует заголовок по горизонтали */
    width: 100%; /* Убедитесь, что заголовок занимает всю ширину родительского контейнера */
    padding: 10px 0; /* Добавьте отступ сверху и снизу для лучшей читаемости */
}

.inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирует дочерний div внутри контейнера по горизонтали */
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.inputs-container > div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирует элементы внутри дочернего div по горизонтали */
    width: 60%; /* Ширина дочернего div, отцентрированного в .inputs-container */
}

.inputs-container label,
.inputs-container input {
    width: 50%; /* Растягивает label и input на всю ширину контейнера */
}

.inputs-container label {
    text-align: center;
}
.inputs-container input {
    padding: 8px;
    border: 1px solid rgb(131, 92, 178);
    border-radius: 1rem;
    box-sizing: border-box; /* Убедиться, что ширина учитывает отступы */
    background-color: #c2a5c663;
    color: white;
}

.dark-theme .inputs-container input {
  border: 1px solid rgba(63, 144, 52, 0.674);
}

.wide-textarea {
  width: 80%; /* Делает текстовое поле занимать всю ширину родительского элемента */
  height: 100px; /* Устанавливает фиксированную высоту */
  padding: 10px; /* Добавляет отступы внутри поля */
  font-size: 16px; /* Увеличивает размер шрифта для удобства ввода */
  box-sizing: border-box; /* Учитывает отступы и границы в общей ширине элемента */
  border: 1px solid rgb(131, 92, 178);
  background-color: #c2a5c663;
  border-radius: 1rem; /* Закругляет углы */
  resize: vertical; /* Позволяет изменять размер только по вертикали */
  color: white;
}



.submit-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#answers-form button {
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    background-color: #12eaea60;
}

.slider {
    width: 320px;
    height: 6px;
    background: #667c9c;
    outline: none;
    border-radius: 3px;
    -webkit-appearance: none;  /* Переопределение стандартного вида для Webkit */
    appearance: none;
  }
  
  .slider::-webkit-slider-thumb {
    appearance: none;
    border-radius: 12px;
    background: white;
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .slider::-webkit-slider-thumb:hover {
    background-color: transparent;
    background-image: url("https://i.postimg.cc/8sQ2Z2Px/nyanimated.gif");
    height: 32px;
    width: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
  }
  
  .slider::-moz-range-thumb {
    border-radius: 12px;
    background: white;
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .slider::-moz-range-thumb:hover {
    background-color: transparent;
    background-image: url("https://i.postimg.cc/8sQ2Z2Px/nyanimated.gif");
    height: 32px;
    width: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
  }
  
  .slider::-ms-thumb {
    border-radius: 12px;
    background: white;
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .slider::-ms-thumb:hover {
    background-color: transparent;
    background-image: url("https://i.postimg.cc/8sQ2Z2Px/nyanimated.gif");
    height: 32px;
    width: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
  }
  
  .slider:focus {
    background: linear-gradient(#6F4FF2 0%, #6F4FF2 17%, #5BA9F9 17%, #5BA9F9 34%, #89F84B 34%, #89F84B 50%, #FEFD52 50%, #FEFD52 67%, #EEAC3D 67%, #EEAC3D 83%, #E44229 83%, #E44229 100%);
  }
  
  #currentVal {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: white; /* Убрал rgba(white,.3), т.к. оно не корректно */
    width: 320px;
    text-align: center;
    margin-top: -40px;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 5px; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(174, 117, 182, 0.488);
    min-width: 150px; /* Минимальная ширина для малого текста */
    max-width: 900px; /* Максимальная ширина, чтобы не растягиваться слишком широко */
    width: auto; /* Ширина по умолчанию, адаптируется к содержимому */
    flex-grow: 1; /* Позволяет контейнеру расти в зависимости от содержимого */
    color: #FFFFFF;
}

.dark-theme .input-wrapper {
  background-color: rgba(63, 144, 52, 0.503);
}

.loader5{
  position: relative;
  width: 150px;
  height: 20px;
  top: 45%;
  top: -webkit-calc(50% - 10px);
  top: calc(50% - 10px);
  left: 25%;
  left: -webkit-calc(50% - 75px);
  left: calc(50% - 75px);
  background-color: rgba(255,255,255,0.2);
}

.loader5:after{
  content: "LOADING ...";
  color: #fff;
  font-family: Lato,"Helvetica Neue";
  font-weight: 200;
  font-size: 16px;
  position: absolute;
  width: 100%;
  height: 20px;
  line-height: 20px;
  left: 0;
  top: 0;
}

.loader5:before{
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0px;
  height: 20px;
  width: 0px;
  z-index: 0;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-animation: loader5 7s ease-in-out infinite;
  animation: loader5 7s ease-in-out infinite;
}

@-webkit-keyframes loader5{
  0% { width: 0px; left: 0px }
  48% { width: 100%; left: 0px }
  50% { width: 100%; right: 0px }
  52% { width: 100%; right: 0px }
  100% { width: 0px; right: 0px }
}

@keyframes loader5{
  0% { width: 0px; left: 0px }
  48% { width: 100%; left: 0px }
  50% { width: 100%; right: 0px }
  52% { width: 100%; right: 0px }
  100% { width: 0px; right: 0px }
}

.loader.--9::before,
.loader.--9::after {
	width: var(--size-dot);
	height: var(--size-dot);
	border-radius: 50%;
	background-color: var(--color);
	animation: loader-9 0.42s cubic-bezier(0.39, 0.31, 0, 1.11) infinite;
}

.loader.--9::before {
	left: calc(50% - var(--size-dot) - 1.6vmin);
}

.loader.--9::after {
	left: calc(50% + 1.6vmin);
	animation-delay: 0.12s;
}

@keyframes loader-9 {
	0%, 100% {
		opacity: 0;
	}
	
	0% {
		transform: translate(-4vmin, -4vmin);
	}
	
	66% {
		opacity: 1;
	}
	
	66%, 100% {
		transform: none;
	}
}

.vertical-centered-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative; /* Добавлено для корректного позиционирования */
  width: 120px;
  height: 120px;
}

.loader-circle {
  position: absolute;
  top: 0; /* Центрируем круг */
  left: 0; /* Центрируем круг */
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  animation: rotate 1.2s infinite linear;
}

.loader-line-mask {
  position: absolute;
  top: 0; /* Центрируем маску */
  left: 0; /* Центрируем маску */
  width: 120px;
  height: 120px;
  overflow: hidden;
  transform-origin: center;
  mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)); /* Восстановлено */
  animation: rotate 1.2s infinite linear;
}

.loader-line {
  position: absolute;
  top: 0; /* Указываем точное положение */
  left: 0; /* Указываем точное положение */
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.radio-group {
  display: flex;
  flex-direction: column;
  align-items: center; /* Выравнивание по правому краю */
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.radio-group h3 {
  margin-bottom: 10px;
  text-align: center;
}



.option-label {
  display: flex;
  align-items: center;
}

.option-label input {
  margin-right: 10px;
}

.option-label {
  display: flex;
  align-items: center; /* Вертикальное выравнивание */
  justify-content: center; /* Горизонтальное выравнивание */
  height: 100%; /* Убедитесь, что контейнер имеет фиксированную высоту */
  text-align: center; /* Центрирование текста */
  padding: 10px; /* Добавляет отступы внутри контейнера */
  box-sizing: border-box; /* Учитывает отступы и границы в общей ширине элемента */
}


.main-container {
  display: flex; /* Используем Flexbox для создания двух колонок */
  justify-content: space-between; /* Разделяем элементы по всей ширине контейнера */
  padding: 20px; /* Внутренние отступы */
  margin: 20px; /* Внешние отступы */
}

#salary-spending {
  background: rgba(73, 81, 146, 0.7);
  border-radius: 30px;
  padding: 20px; /* Внутренние отступы */
  box-shadow: 0 0 10px #381eff;
  width: auto; /* Ширина блока */

  color: #343a40; /* Темно-серый цвет текста */
}

#salary-spending p {
  margin: 10px 0; /* Отступы между параграфами */
  font-size: 16px; /* Размер шрифта */
  line-height: 1.5; /* Межстрочный интервал */
}

#salary-spending p.salary {
  color: #28a745; /* Зеленый цвет для зарплаты */
  font-weight: bold; /* Жирный шрифт для зарплаты */
}

#salary-spending p.spending {
  color: #eb6774; /* Красный цвет для трат */
  font-weight: bold; /* Обычный шрифт для трат */
}

#earnings {
  background: rgba(73, 81, 146, 0.7);
  display: flex; /* Используем Flexbox */
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  padding: 10px;
  line-height: 1; /* Устанавливаем высоту строки равной размеру шрифта */
  border-radius: 30px;
  box-shadow: 0 0 10px #381eff;
  color: rgb(253, 247, 247);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative; /* Используем относительное позиционирование для родительского контейнера */
  width: auto; /* Ширина блока */
  font-size: 16px; /* Размер шрифта */
  white-space: nowrap; /* Предотвращаем перенос текста */
}

#earnings p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.container, .row, .col {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
}

/* Adjust padding and line-height in the dark theme as well */
.dark-theme #earnings {
  background: rgba(34, 34, 34, 0.62);
  border-color: #444;
  box-shadow: 0 0 10px #1eff4e;
}

.hint-container {
  z-index: 10;
}

.hint-wrapper {
  position: absolute;
  top: 830px;
  left: 70px;
  width: 150px;
  border: 1px solid rgba(20, 196, 227, 0.691);
  border-radius: .5rem;
  box-shadow: 0 0 10px #6edbbe;
  padding: 20px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  transition: width 0.5s ease, height 0.5s ease;
  background-color: rgba(174, 117, 182, 0.488);
  color: #FFFFFF;
  }

  .hint-label {
    font-weight: bold;
    display: block; /* Делаем элемент блочным */
    margin: 0 auto; /* Центрируем элемент */
    text-align: center;
  }
  
  .hint-text {
    display: none;
    margin-top: 10px;
  }
  
  .hint-wrapper.show .hint-text {
    display: block;
  }
  
  .hint-wrapper.show {
    width: 600px; /* задайте нужную ширину при раскрытии */
   
    background-color: rgb(174, 117, 182);
  }


  .gpt-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    margin-top: -100px;
    color: whitesmoke;
    }
    
  
  .gpt-label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .reload-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .reload-button img {
    display: inline-block;
    transition: transform 0.6s ease-in-out;
  }
  
  .reload-button:active img {
    animation: spin 0.6s ease-in-out;
  }

  
  .reload-icon {
    width: 20px;
    height: 20px;
    filter: invert(34%) sepia(94%) saturate(1442%) hue-rotate(169deg) brightness(93%) contrast(101%);
  }
  
  .reload-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .modalbg {
    position: fixed;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0);
    z-index: 99999;
    transition: all 2s ease-out;
    transition-delay: .2s;
    display: block;
    pointer-events: none;
  }
  
  .modalbg:target {
    display: block;
    pointer-events: auto;
    background: rgba(82, 56, 100, 0.43);
    transition: all .8s ease-out;
  }
  
  .dialog {
    width: 1000px;
    position: relative;
    top: -2000px;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: rgba(90, 42, 97, 1);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    transition: top .8s ease-out;
    transition-delay: .2s;
    color: white;
    overflow-y: auto; /* Добавлено для прокрутки */
    max-height: 80vh; /* Ограничение максимальной высоты */
  }
  
  .modalbg:target .dialog {
    top: -20px;
    transition: top .8s ease-out;
    transition-delay: .2s;
  }
  
  .close {
    background: #7e3d7a;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 20px;
    height: 20px; /* Установим высоту, чтобы квадрат SVG выглядел корректно */
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 0 0 10px #6edbbe;
    transition: all .2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .close img {
    width: 100%;
    height: 100%;
  }
  .close:hover {
    background: #00d9ff;
  }
  
  
  
  
  