#answers-form {
    display: flex;
    flex-direction: column;
}


#game-container {
  margin-top: 50px;
}
.options-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.option-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(174, 117, 182, 0.488);
    min-width: 150px; /* Минимальная ширина для малого текста */
    max-width: 400px; /* Максимальная ширина, чтобы не растягиваться слишком широко */
    width: auto; /* Ширина по умолчанию, адаптируется к содержимому */
    flex-grow: 1; /* Позволяет контейнеру расти в зависимости от содержимого */
    color: #FFFFFF;
}

.option-label {
    width: 100%; /* Занимает всю ширину option-wrapper */
}


#question {
    margin: 20px auto;
    padding: 15px; 
    width: 80%; 
    box-sizing: border-box;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: rgba(174, 117, 182, 0.488);
    color: #FFFFFF;
}




h1, h2 {
    text-align: center; /* Центрирует текст внутри заголовка */
    margin: 0 auto; /* Центрирует заголовок по горизонтали */
    width: 100%; /* Убедитесь, что заголовок занимает всю ширину родительского контейнера */
    padding: 10px 0; /* Добавьте отступ сверху и снизу для лучшей читаемости */
}

.inputs-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирует дочерний div внутри контейнера по горизонтали */
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.inputs-container > div {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирует элементы внутри дочернего div по горизонтали */
    width: 60%; /* Ширина дочернего div, отцентрированного в .inputs-container */
}

.inputs-container label,
.inputs-container input {
    width: 50%; /* Растягивает label и input на всю ширину контейнера */
}

.inputs-container label {
    text-align: center;
}
.inputs-container input {
    padding: 8px;
    border: 1px solid rgb(131, 92, 178);
    border-radius: 1rem;
    box-sizing: border-box; /* Убедиться, что ширина учитывает отступы */
}



.submit-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

#answers-form button {
    padding: 10px 20px;
}

.slider {
    width: 320px;
    height: 6px;
    background: #667c9c;
    outline: none;
    border-radius: 3px;
    -webkit-appearance: none;  /* Переопределение стандартного вида для Webkit */
    appearance: none;
  }
  
  .slider::-webkit-slider-thumb {
    appearance: none;
    border-radius: 12px;
    background: white;
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .slider::-webkit-slider-thumb:hover {
    background-color: transparent;
    background-image: url("https://i.postimg.cc/8sQ2Z2Px/nyanimated.gif");
    height: 32px;
    width: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
  }
  
  .slider::-moz-range-thumb {
    border-radius: 12px;
    background: white;
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .slider::-moz-range-thumb:hover {
    background-color: transparent;
    background-image: url("https://i.postimg.cc/8sQ2Z2Px/nyanimated.gif");
    height: 32px;
    width: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
  }
  
  .slider::-ms-thumb {
    border-radius: 12px;
    background: white;
    height: 24px;
    width: 24px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .slider::-ms-thumb:hover {
    background-color: transparent;
    background-image: url("https://i.postimg.cc/8sQ2Z2Px/nyanimated.gif");
    height: 32px;
    width: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
  }
  
  .slider:focus {
    background: linear-gradient(#6F4FF2 0%, #6F4FF2 17%, #5BA9F9 17%, #5BA9F9 34%, #89F84B 34%, #89F84B 50%, #FEFD52 50%, #FEFD52 67%, #EEAC3D 67%, #EEAC3D 83%, #E44229 83%, #E44229 100%);
  }
  
  #currentVal {
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: white; /* Убрал rgba(white,.3), т.к. оно не корректно */
    width: 320px;
    text-align: center;
    margin-top: -40px;
  }
  

