
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding-top: 150px;
}


/* Добавляем класс для центрирования содержимого */
.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Это высота для демонстрационных целей, в реальном проекте может быть другой */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #c1aed581; /* Цвет фона */
    padding: 20px 0; /* Добавим немного внутреннего отступа */
    z-index: 1000; /* Убедимся, что navbar находится поверх других элементов */
    color: white;
    box-shadow: 0 2px 10px #6edbbe;
}

.dark-theme .navbar {
    background-color: rgba(63, 144, 52, 0.503); 
    box-shadow: 0 2px 10px #1eff4e;
}

.registration-container {
    background: rgba(73, 81, 146, 0.7);
    width: 20%;
    top: auto;
    left: 1%;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px #381eff;
    color: rgb(253, 247, 247);
}


.neon {
    position: absolute;
    top: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    left: 9%;
    transform: translate(-50%, -50%) skewY(-5deg);
    
    border: 4px solid #6edbbe;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #a872d2, 0 0 30px #a872d2, inset 0 0 10px #a872d2, inset 0 0 30px #a872d2;
}

.neon span {
    font-size: 20px;
    /* цвет текста в лого */
    color: #12eaea; 
    opacity: 0.7;
    font-family: 'Lato', sans-serif;
    animation: flicker 1.5s infinite;
    /* text-shadow: 0 0 20px #381eff; */
}

@keyframes flicker {

    0%,
    100% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }
}

.neon span:nth-child(1) {
    animation-delay: 0s;
}

.neon span:nth-child(2) {
    animation-delay: 0.1s;
}

.neon span:nth-child(3) {
    animation-delay: 0.2s;
}

.neon span:nth-child(4) {
    animation-delay: 0.3s;
}

.neon span:nth-child(5) {
    animation-delay: 0.4s;
}

.neon span:nth-child(6) {
    animation-delay: 0.5s;
}

.neon span:nth-child(7) {
    animation-delay: 0.6s;
}

.neon span:nth-child(8) {
    animation-delay: 0.7s;
}

.neon span:nth-child(9) {
    animation-delay: 0.8s;
}

.neon span:nth-child(10) {
    animation-delay: 0.9s;
}


@keyframes neon_animation {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}



.form-input {
    margin-bottom: 10px;
}

.form-input label {
    display: block;
    margin-bottom: 5px;
}

.form-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-input input[type="submit"] {
    background: #30bbd3;
    color: white;
    cursor: pointer;
}

.form-input input[type="submit"]:hover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #30bbd3;
}

.blur-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  #particles-background, #particles-foreground {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1; /* Отправить назад фон частиц */
  }
  
  /* Остальные стили оставляем без изменений */
  #particles-background {
    background: mix(#3f3251, #002025, 70%);
    background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
    background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
  }

  .dark-theme #particles-background {
    background: mix(#3f3251, #002025, 70%);
    background-image: -moz-linear-gradient(45deg, #766738 2%, #136b36 100%);
    background-image: -webkit-linear-gradient(45deg, #766738 2%, #24945cc7 100%);
    background-image: linear-gradient(45deg, #42a0508f 2%, #2e9567ae 100%);
  }
  
  @keyframes rotate { 0% { transform: rotate(0deg);} 100% { transform: rotate(360deg);}}
  
  @keyframes fade { 0% { opacity: 1;} 50% { opacity: 0.25;}}
  
  @keyframes fade-in { 0% { opacity: 0;} 100% { opacity: 1;}}
    

:root {
	--x: 0;
	--y: 0;
	--xp: 0;
	--yp: 0;
	--hue: 240;
	--bg: rgb(96, 85, 176);
	--size: 100px;
	--glow: radial-gradient(50% 50% at center,
			hsl(var(--hue) 80% 85%),
			hsl(var(--hue) 80% 70%),
			transparent) calc((var(--x) * 1px) - (var(--size) * 0.5)) calc((var(--y) * 1px) - (var(--size) * 0.5)) / var(--size) var(--size) no-repeat fixed;
}

.dark-theme {
    background-color: #333;
    color: #fff;
    --bg: #222;
    --hue: 120;
    --glow: radial-gradient(50% 50% at center,
			hsl(var(--hue) 80% 85%),
			hsl(var(--hue) 80% 70%),
			transparent) calc((var(--x) * 1px) - (var(--size) * 0.5)) calc((var(--y) * 1px) - (var(--size) * 0.5)) / var(--size) var(--size) no-repeat fixed;
}

.dark-theme .registration-container {
    background: #222;
    border-color: #444;
    box-shadow: 0 0 10px #1eff4e;
}

.dark-theme input[type="email"],
.dark-theme input[type="nickname"],
.dark-theme input[type="password"],
.dark-theme input[type="login"] {
    background-color: #555;
    color: #ccc;
    border-color: #666;
}

.dark-theme input[type="submit"] {
    background: #444;
}

.dark-theme input[type="submit"]:hover {
    background: #555;
}

.dark-theme .signin-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #AAF53D;
}

/* .dark-theme .blur-background {
    filter: blur(8px) brightness(0.2);
    background-color: rgba(0, 0, 0, 0.5);
} */

.dark-theme .neon {
    border: 4px solid #1eff4e;
    box-shadow: 0 0 10px #1eff4e, 0 0 30px #1eff4e, inset 0 0 10px #1eff4e, inset 0 0 30px #1eff4e;
}


.dark-theme .neon span {
    color: #1eff4e;
    text-shadow: 0 0 20px #1eff4e;
}

.dark-theme .neon span:nth-child(1) {
    animation-delay: 0s;
}

.dark-theme .neon span:nth-child(2) {
    animation-delay: 0.1s;
}

.dark-theme .neon span:nth-child(3) {
    animation-delay: 0.2s;
}

.dark-theme .neon span:nth-child(4) {
    animation-delay: 0.3s;
}

.dark-theme .neon span:nth-child(5) {
    animation-delay: 0.4s;
}

.dark-theme .neon span:nth-child(6) {
    animation-delay: 0.5s;
}

.dark-theme .neon span:nth-child(7) {
    animation-delay: 0.6s;
}

.dark-theme .neon span:nth-child(8) {
    animation-delay: 0.7s;
}

.dark-theme .neon span:nth-child(9) {
    animation-delay: 0.8s;
}

.dark-theme .neon span:nth-child(10) {
    animation-delay: 0.9s;
}

.theme-switcher-wrapper {
    position: relative;
    bottom: 0;
    left: 80%;
    transform: translateX(-50%);
    z-index: 10;
}


.theme-switcher-label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 19px;
}

.theme-switcher {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    transition-duration: 0.5s;
  }
  
  /* The slider */
  .theme-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(174, 117, 182, 0.488);
    transition: 0.5s;
  }

  .dark-theme .theme-slider {
    background-color:rgba(62, 144, 52, 0.715); 
  }
  
  .theme-slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transition: 0.5s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url("https://i.ibb.co/FxzBYR9/night.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  input:checked + .theme-slider {
    background-color: rgba(62, 144, 52, 0.715);
  }
  
  input:focus + .theme-slider {
    box-shadow: 0 0 1px rgba(62, 144, 52, 0.715);
  }
  
  input:checked + .theme-slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url("https://i.ibb.co/7JfqXxB/sunny.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* Rounded sliders */
  .theme-slider.round {
    border-radius: 34px;
  }
  
  .theme-slider.round:before {
    border-radius: 50%;
  }


.controls {
	position: fixed;
	top: 2rem;
	right: 2rem;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn {
	border-radius: 1rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1ch;
    display: flex;
    width: 50%;
	background: rgb(85, 176, 120);
	border: 4px solid transparent;
	/* box-shadow: 0 1px rgba(209, 113, 113, 0.841) inset; */
	cursor: pointer;
	background:
		linear-gradient(var(--bg), var(--bg)) padding-box,
		var(--glow),
		linear-gradient(rgb(175, 96, 153), rgba(216, 9, 206, 0.606)) border-box;
	transition: background-size 0.24s;
	touch-action: none;
	position: relative;
	padding: 1rem 2rem;
    color:rgb(114, 204, 195);
}

.dark-theme .btn {
    background:
        linear-gradient(rgb(61, 168, 120),rgb(61, 168, 120)) padding-box,
        var(--glow),
        linear-gradient(rgb(61, 168, 120), rgba(0, 243, 93, 0.606)) border-box;
}

.dark-theme .btn::before {
    background: rgba(8, 103, 44, 0.425);
}


.btn::before {
	content: "";
	position: absolute;
	inset: 0;
	/* box-shadow: 0 1px rgb(255, 0, 30) inset; */
	background: var(--bg);
	z-index: 2;
	/*   border: 4px solid transparent; */
	border-radius: 1rem;
}

.btn span {
	background: var(--glow), rgb(255, 255, 255);
	background-clip: text;
	color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

	height: 100%;
	width: 100%;
	z-index: 2;
	position: relative;
	inset: 0;
}

:root:has(.btn:active) {
	--size: 300px;
}

.btn::after {
	content: "";
	position: absolute;
	inset: -4px;
	filter: blur(20px);
	border: 4px solid transparent;
	background: var(--glow);
	border-radius: 1rem;
}

.dark-theme .btn span {
    background: var(--glow), rgb(255, 255, 255);
    background-clip: text;
	color: transparent;
	height: 100%;
    display: flex;
	width: 100%;
	z-index: 2;
	position: relative;
	inset: 0;
}



.registration-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #30bbd3;
}

.dark-theme .registration-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #AAF53D;
}


.dark-theme .nav-item .nav-link active {
  color: #AAF53D; 
}

.dark-theme .nav-item .nav-link:hover, .nav-item .nav-link:focus {
  color: #98cc35; /* Желаемый цвет при наведении или фокусе, немного темнее для видимости */
}

.nav-item .nav-link:hover, .nav-item .nav-link:focus {
    color: #12eaea; ; /* Желаемый цвет при наведении или фокусе, немного темнее для видимости */
}

.table {
    width: 100vw;
    height: 80vh;
    
    border-radius: .8rem;

    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: rgb(181, 124, 197);
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 50%;
    max-height: calc(89% - 1.6rem);
    background-color: #d9c6ee7e;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}


.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

.dark-theme .table__body {
    background-color: #ffffff2a;
}


table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    width: 20%;
    left: 0;
    background-color: #c9bfd5;
    cursor: pointer;
    text-transform: capitalize;
}

.dark-theme thead th {
    background-color: #50C878;
}

tbody tr:nth-child(even) {
    background-color: #c9bfd5;
}

.dark-theme tbody tr:nth-child(even) {
    background-color: #50C878;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
    background-color: #c1aed5;
}

.dark-theme tbody tr {
    background-color: #90EE90;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
    background-color: #c1aed5;
}

tbody tr:hover {
    background-color: rgba(174, 117, 182, 0.488) !important;
}

.dark-theme tbody tr:hover {
    background-color: rgb(106, 155, 100) !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
    
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}



@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #a872d2;
}

thead th:hover {
    color: #a872d2;
}

.dark-theme thead th:hover {
    color: #ffffff;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравнивание по центру только по горизонтали */
}

.title h2, h3 {
    text-align: center;
    color: white;
}

#start-new-game {
    padding: 10px 20px; /* Установите желаемые значения для внутренних отступов */
    width: auto; /* Ширина кнопки будет зависеть от содержимого и padding */
    margin-top: 20px; /* Отступ сверху для кнопки */
    margin-bottom: 20px;
    color: rgb(114, 204, 195);
}







.news-container {
    display: none;
    position: relative; /* Исправлено с auto на relative */
    top: 0;
    margin-bottom: 1.4rem;
    right: 0;
    left: 0;
    font-size: 16px;
    background: rgba(174, 117, 182, 0.488);
    color: #ffffff;
    padding: 10px 32px;
    /* padding-bottom: 30px; */
    display: flex;

    overflow: hidden;
    z-index: 100; /* Убедитесь, что новости выше других элементов */
}

  .dark-theme .news-container {
    background: rgba(62, 144, 52, 0.715); 
    color: #ffffff;
  }
  
  .news-container::after {
    position: relative;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    /* background: linear-gradient(transparent, #003262); */
  }
  
  .news-container .news-heading {
    font-weight: bold;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #fff;
  }
  
  .news-container .news {
    position: relative;
    width: 100%;
  }
  
  .news-container .news-single {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    opacity: 0;
    position: absolute; /* Элементы абсолютно позиционированы внутри .news, который должен иметь relative */
    top: 0;
    left: 0;
    transform: translateY(-8px);
    transition: all 400ms ease;
    pointer-events: none;
    white-space: nowrap; /* Если вы не хотите, чтобы текст переносился на новую строку */
}

.news-container .news-single.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.card {
    border-radius: 1rem;
    width: auto;
    max-width: 75vw;
    aspect-ratio: auto;
    position: relative;
    margin-top: 50px;

    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: rgba(174, 117, 182, 0.488); /* Уменьшено значение прозрачности */
    /* border-radius: var(--border-radius); */
    backdrop-filter: blur(10px); /* Сглаживание фона */
    padding: 10px;
    box-shadow: 0 0 10px #a872d2; /* Уменьшена прозрачность тени */
    color: rgb(255, 255, 255); /* Увеличена видимость текста */
    text-align: center;
    display: none; /* Initially hidden */
}

.dark-theme .card {
    background-color: rgba(62, 144, 52, 0.715); 
    color: #ffffff;
    box-shadow: 0 0 10px #1eff4e;
}


body {
    background:#000;
  }
  
  #load {
    position:absolute;
    width:600px;
    height:36px;
    left:50%;
    top:40%;
    margin-left:-300px;
    overflow:visible;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
  }
  
  #load div {
    position:absolute;
    width:20px;
    height:36px;
    opacity:0;
    font-family:Helvetica, Arial, sans-serif;
    animation:move 2s linear infinite;
    -o-animation:move 2s linear infinite;
    -moz-animation:move 2s linear infinite;
    -webkit-animation:move 2s linear infinite;
    transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    color:#35C4F0;
  }
  
  #load div:nth-child(2) {
    animation-delay:0.2s;
    -o-animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
  }
  #load div:nth-child(3) {
    animation-delay:0.4s;
    -o-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
    -webkit-animation-delay:0.4s;
  }
  #load div:nth-child(4) {
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
  }
  #load div:nth-child(5) {
    animation-delay:0.8s;
    -o-animation-delay:0.8s;
    -moz-animation-delay:0.8s;
    -webkit-animation-delay:0.8s;
  }
  #load div:nth-child(6) {
    animation-delay:1s;
    -o-animation-delay:1s;
    -moz-animation-delay:1s;
    -webkit-animation-delay:1s;
  }
  #load div:nth-child(7) {
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
  }
  
  @keyframes move {
    0% {
      left:0;
      opacity:0;
    }
      35% {
          left: 41%; 
          -moz-transform:rotate(0deg);
          -webkit-transform:rotate(0deg);
          -o-transform:rotate(0deg);
          transform:rotate(0deg);
          opacity:1;
      }
      65% {
          left:59%; 
          -moz-transform:rotate(0deg); 
          -webkit-transform:rotate(0deg); 
          -o-transform:rotate(0deg);
          transform:rotate(0deg); 
          opacity:1;
      }
      100% {
          left:100%; 
          -moz-transform:rotate(-180deg); 
          -webkit-transform:rotate(-180deg); 
          -o-transform:rotate(-180deg); 
          transform:rotate(-180deg);
          opacity:0;
      }
  }
  
  @-moz-keyframes move {
      0% {
          left:0; 
          opacity:0;
      }
      35% {
          left:41%; 
          -moz-transform:rotate(0deg); 
          transform:rotate(0deg);
          opacity:1;
      }
      65% {
          left:59%; 
          -moz-transform:rotate(0deg); 
          transform:rotate(0deg);
          opacity:1;
      }
      100% {
          left:100%; 
          -moz-transform:rotate(-180deg); 
          transform:rotate(-180deg);
          opacity:0;
      }
  }
  
  @-webkit-keyframes move {
      0% {
          left:0; 
          opacity:0;
      }
      35% {
          left:41%; 
          -webkit-transform:rotate(0deg); 
          transform:rotate(0deg); 
          opacity:1;
      }
      65% {
          left:59%; 
          -webkit-transform:rotate(0deg); 
          transform:rotate(0deg); 
          opacity:1;
      }
      100% {
          left:100%;
          -webkit-transform:rotate(-180deg); 
          transform:rotate(-180deg); 
          opacity:0;
      }
  }
  
  @-o-keyframes move {
      0% {
          left:0; 
          opacity:0;
      }
      35% {
          left:41%; 
          -o-transform:rotate(0deg); 
          transform:rotate(0deg); 
          opacity:1;
      }
      65% {
          left:59%; 
          -o-transform:rotate(0deg); 
          transform:rotate(0deg); 
          opacity:1;
      }
      100% {
          left:100%; 
          -o-transform:rotate(-180deg); 
          transform:rotate(-180deg); 
          opacity:0;
      }
  }

  .gpt-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    margin-top: -100px;
    color: whitesmoke;
    }
    
  
  .gpt-label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .reload-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .reload-button img {
    width: 20px;
    height: 20px;
  }
  .reload-icon {
    width: 20px;
    height: 20px;
    filter: invert(34%) sepia(94%) saturate(1442%) hue-rotate(169deg) brightness(93%) contrast(101%);
  }
  
  .reload-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .hint-container {
    z-index: 101;
  }
  
  .hint-wrapper-main-list {
    position: absolute;
    top: 300px;
    left: 70px;
    width: 150px;
    border: 1px solid rgba(20, 196, 227, 0.691);
    border-radius: .5rem;
    box-shadow: 0 0 10px #6edbbe;
    padding: 20px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    transition: width 0.5s ease, height 0.5s ease;
    background-color: rgba(174, 117, 182, 0.488);
    color: #FFFFFF;
    }
  
    .hint-label {
      font-weight: bold;
      display: block; /* Делаем элемент блочным */
      margin: 0 auto; /* Центрируем элемент */
      text-align: center;
    }
    
    .hint-text {
      display: none;
      margin-top: 10px;
    }
    
    .hint-wrapper-main-list.show .hint-text {
      display: block;
    }
    
    .hint-wrapper-main-list.show {
      width: 1000px; /* задайте нужную ширину при раскрытии */
      z-index: 101;
      background-color: rgb(174, 117, 182);
    }
    @keyframes blink {
        0% { opacity: 1; }
        50% { opacity: 0.5; }
        100% { opacity: 1; }
    }
    
    strong.custom-highlight {
        color: #12eaea; /* Зеленый цвет */
        font-weight: bold; /* Жирный шрифт */
        animation: blink 1s infinite; /* Анимация мерцания */
        
    }
    